/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
.mobilesearch-part {
	display: block;
}

.header-left1 {
    width: 8%;
}

.header-left2 {
	width: 92%;
}

.header-left1 img {
    width: 41px;
    height: 41px;
    display: block;
}

.header-left2 h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding-left: 4px;
}

.header-left2 p {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding-left: 5px;
}

.header-left2 p span {
    font-size: 16px;
    font-weight: 600;
}

.header-right ul li {
    float: left;
    margin-left: 7px;
}

.header-right ul li:nth-child(3) a {
    width: 38px;
    height: 38px;
    line-height: 38px;
    display: block;
    text-align: center;
    border-radius: 4px;
}

.header-right ul li:nth-child(2) a {
    width: 38px;
    height: 38px;
    line-height: 38px;
    display: block;
    text-align: center;
    border-radius: 4px;
}

.bar1, .bar2, .bar3 {
    width: 42px;
    height: 4px;
    background-color: #333;
    margin: 9px 0;
    transition: 0.4s;
}

.mobile-header {
	display: block;
}

.menu-part ul li {
    display: block;
    padding-bottom: 11px;
}

.menu-part ul {
    padding-top: 0px;
}

.main-left {
    width: 236px;
    height: initial;
    padding: 20px;
    position: relative;
    padding-left: 15.91px;
    position: absolute;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 20%);
    top: 58px;
    left: 14px;
    display: none;
}

.profile-part {
    position: initial;
    bottom: 0;
    padding-top: 47px;
}

.header-part {
	display: none;
}



.menu-part ul li a p {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: -21px;
    padding-left: 33px;
}



.mobile-part {
	align-items: center;
}


.change .bar3 {
    -webkit-transform: rotate(39deg) translate(-11px, -11px);
    transform: rotate(39deg) translate(-11px, -11px);
}

.mobile-left {
    width: 7%;
    padding-top: 7px;
}


.mobile-right {
    width: 34%;
}


.mobile-header {
    padding: 10px 15px;
}


.btn-container {
    padding: 36px 15px;
}

.listview-part {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 39px;
    padding-bottom: 26px;
}

.listview-view-item2 ul li:nth-child(1) {
    font-size: 13px;
}


.listview-view-item2 ul li:nth-child(1) span {
    position: relative;
    top: 1px;
}


.listview-view-item {
    padding-right: 14px;
}

.boardview-part {
    padding: 36px 14px;
    padding-top: 3px;
}

.boardview-innera1 h3 {
    font-size: 13px;
    padding-top: 16px;
    padding-bottom: 20px;
}


.boardview-inner_down ul li a img {
    margin-right: 2px;
}

.boardview-inner_down ul li {
    display: inline-block;
    margin-right: 2px;
}

.boardview-inner_down ul li a {
    font-size: 9px;
    display: inline-block;
    font-weight: 500;
}

.boardview-inner_down ul li a img {
    width: 15px;
    height: 15px;
}

.boardview-innera1 ul li {
    display: inline-block;
    margin-right: 1px;
}

.last-comment-right ul li:nth-child(2) {
    margin-left: 7px;
}

.last-comment {
    padding: 0 12px;
}

.miancomment-text {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.Comment-img img {
    width: 33px;
    height: 33px;
    display: block;
}

.Comment-right h3 {
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 7px;
}

.last-comment {
    padding: 10px 12px;
}

.popup-part2 .btn-close {
    left: 26px;
}

.popup1-part .btn-close {
    left: 26px;
}

.tab-item {
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
    margin-right: 10px;
}

.popup-part2 .modal-dialog {
    max-width: 990px;
    margin-bottom: 0;

}

.popup1-part .modal-dialog {
    max-width: 990px;
}

.main-right {
    width: 100%;
}

}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {

.mobilesearch-part {
	display: block;
}

.header-left1 {
    width: 10%;
}

.header-left2 {
	width: 90%;
}

.header-left1 img {
    width: 40px;
    height: 40px;
    display: block;
}

.header-left2 h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding-left: 6px;
}

.header-left2 p {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding-left: 6px;
}

.header-left2 p span {
    font-size: 16px;
    font-weight: 600;
}

.header-right ul li {
    float: left;
    margin-left: 7px;
}

.header-right ul li:nth-child(3) a {
    width: 38px;
    height: 38px;
    line-height: 38px;
    display: block;
    text-align: center;
    border-radius: 4px;
}

.header-right ul li:nth-child(2) a {
    width: 38px;
    height: 38px;
    line-height: 38px;
    display: block;
    text-align: center;
    border-radius: 4px;
}

.main-right {
    width: 100%;
}


.bar1, .bar2, .bar3 {
    width: 38px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.mobile-header {
	display: block;
}

.menu-part ul li {
    display: block;
    padding-bottom: 11px;
}

.menu-part ul {
    padding-top: 0px;
}

.main-left {
    width: 236px;
    height: initial;
    padding: 20px;
    position: relative;
    padding-left: 15.91px;
    position: absolute;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 20%);
    top: 58px;
    left: 14px;
    display: none;
}

.profile-part {
    position: initial;
    bottom: 0;
    padding-top: 47px;
}

.header-part {
	display: none;
}

.mobilesearch-inner form input[type="text"] {
    font-size: 14px;
    width: 100%;
    height: 42px;
    border-radius: 4px;
    padding: 12px 12px;
    outline: none;
    padding-right: 32px;
}


.mobilesearch-inner form button {
    top: 7px;
}

.menu-part ul li a p {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: -21px;
    padding-left: 33px;
}



.mobile-part {
	align-items: center;
}

.change .bar3 {
    -webkit-transform: rotate(39deg) translate(-10px, -8px);
        transform: rotate(39deg) translate(-10px, -8px);
}



.btn-container {
    padding: 36px 15px;
    padding-bottom: 0;
}


.btn-container ul li {
    display: inline-block;
    padding-right: 7px;
}


.listview-part {
    margin-top: 49px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 39px;
    padding-bottom: 0;
}

.listview-view-item3 h3 {
    font-size: 10px;
    font-weight: 500;
    margin: 0;
}


.listview-view-item {
    display: block;
    line-height: 63px;
    padding-right: 10px;
    padding-left: 16.38px;
    margin-bottom: 4px;
    border-radius: 4px;
    height: inherit;
}

.ttboardview-inner_down ul li a img {
    margin-right: 0px;
}


.ttboardview-inner_down ul li {
    margin-right: 7px;
}

.ttboardview-inner_down ul li a {
    font-size: 10px;
}

.listview-view-item2 ul li:nth-child(1) {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: -33px;
    display: block;
}

.boardview-part {
    padding: 30px 15px;
    padding-top: 30px;
    padding-bottom: 0;
}

.boardview-inner {
    margin-bottom: 44px;
}

.mobile-left {
    padding-top: 8px;
}


.mobile-header {
    padding: 14px 15px;
}


.btn-container {
    padding: 36px 15px;
    padding-top: 0px;
    padding-bottom: 0;
}

.listview-part {
    padding-left: 15px;
    padding-right: 15px;
}


.btn-container {
    padding: 36px 15px;
    padding-top: 0px;
    padding-bottom: 0;
}

.mainpopup {
    display: block;
}

.mainpopup-left {
    width: 100%;
}

.mainpopup-right {
    width: 100%;
}


.last-comment {
    position: relative;
}

.tab-content {
    padding: 28px 0;
    padding-bottom: 0px;
}



.popup-part2 .modal-dialog {
    max-width: 750px;
    margin-bottom: 0;
}

.popup1-part .modal-dialog {
    max-width: 750px;
}

.ttboardview-inner_down ul {
    margin-left: -10px;
}


}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (min-width: 576px) and (max-width: 767px) {	

.mobilesearch-part {
	display: block;
}

.header-left1 {
	width: 17%;
}

.header-left2 {
	width: 83%;
}

.header-left1 img {
    width: 27px;
    height: 27px;
    display: block;
}

.header-left2 h2 {
    font-size: 13px;
    font-weight: 700;
    margin: 0;
    padding-left: 4px;
}

.header-left2 p {
    font-size: 10px;
    font-weight: 500;
    margin: 0;
    padding-left: 5px;
}

.header-left2 p span {
    font-size: 10px;
    font-weight: 600;
}

.header-right ul li {
    float: left;
    margin-left: 7px;
}

.header-right ul li:nth-child(3) a {
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: block;
    text-align: center;
    border-radius: 4px;
}

.header-right ul li:nth-child(2) a {
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: block;
    text-align: center;
    border-radius: 4px;
}

.bar1, .bar2, .bar3 {
  width: 28px;
  height: 4px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
}

.mobile-header {
	display: block;
}

.menu-part ul li {
    display: block;
    padding-bottom: 11px;
}

.menu-part ul {
    padding-top: 0px;
}

.main-left {
    width: 236px;
    height: initial;
    padding: 20px;
    position: relative;
    padding-left: 15.91px;
    position: absolute;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 20%);
    top: 58px;
    left: 14px;
    display: none;
}

.profile-part {
    position: initial;
    bottom: 0;
    padding-top: 47px;
}

.header-part {
	display: none;
}

.mobilesearch-inner form input[type="text"] {
    font-size: 14px;
    width: 100%;
    height: 42px;
    border-radius: 4px;
    padding: 12px 12px;
    outline: none;
    padding-right: 32px;
}


.mobilesearch-inner form button {
    top: 7px;
}

.menu-part ul li a p {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: -21px;
    padding-left: 33px;
}

.boardview-part {
    padding: 14px 15px;
    background: #fff;
    padding-top: 20px;
}


.boardview-inner {
    margin-bottom: 25px;
}

.btn-container {
    padding: 36px 15px;
    padding-top: 0px;
    padding-bottom: 5px;
    overflow: hidden;
    overflow-x: scroll;
}

.btn-container ul {
    padding: 10px 10px;
}

.btn-container ul {
    padding: 10px 14px;
    width: 470px;
    padding-bottom: 10px;
}

.btn-container ul li a {
    font-size: 14px;
    font-weight: 500;
    display: block;
    text-align: center;
}

.btn-container ul li {
    display: inline-block;
    padding-right: 14px;
}

.mobilesearch-part {
    display: block;
    padding-bottom: 21px;
}

.btn-container ul li a::after {
	display: none;
}



.btn-container ul li a {
    font-size: 14px;
    font-weight: 500;
    display: block;
    text-align: center;
}

.btn-container ul li a.active::after {
	display: none;
}


.listview-part {
    margin-top: 49px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 35px;
}

.listview-view-item {
    display: block;
    height: initial;
    line-height: 63px;
    padding-right: 15px;
    padding-left: 16.38px;
    margin-bottom: 16px;
    border-radius: 4px;
}

.ttboardview-inner_down ul {
    float: left;
}

.listview-view-item2 ul li:nth-child(1) {
    font-size: 16px;
    font-weight: 600;
    padding-right: 0px;
    margin-bottom: -29px;
    display: block;
}

.ttboardview-inner_down ul {
    float: left;
    margin-bottom: -7px;
}



.mainpopup {
    display: block;
}

.mainpopup-left {
    width: 100%;
}


.mainpopup-right {
    width: 100%;
    position: relative;
}

.ttpopup-left2 {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    position: relative;
}

.popup_left1-inner h2 {
    font-size: 16px;
}

.popup_left1-right ul li:nth-child(1) a {
    font-size: 13px;
    width: 60px;
    display: block;
    text-align: center;
    line-height: 30px;
    height: 30px;
    border-radius: 3px;
}

.popup_left1-right {
    padding: 7px 0;
    padding-right: 15px;
}

.popup_left1-inner {
    padding: 10px 0;
    padding-left: 10px;
}


.popup1-part .btn-close {
    width: 16px;
    height: 16px;
    left: 7px;
}


.dnpopup-left1 h2 {
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    line-height: 50px;
    display: block;
    margin: 0;
    padding: 0 12px;
}

.dnpopup-left1 h2 a {
    font-size: 12px;
    font-weight: 700;
    width: 80px;
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    border-radius: 3.32px;
}

.dnpopup-left1 h2 a i {
    padding-left: 4px;
    font-size: 10px;
}


.dnpopup-left1 h2 span {
    float: right;
    position: relative;
    top: 10px;
}

.popup-left3-left h3 {
    text-align: center;
}

.popup-left3-left {
    text-align: center;
    padding-bottom: 8px;
}


.popup-left3-left select {
    margin-bottom: 15px;
    margin: auto;
}


.popup-left3-right a {
    font-size: 16px;
    width: 260px;
    height: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
    border-radius: 6px;
    margin: auto;
    margin-right: auto;
    margin-top: 18px;
}

.miancomment-text {
    padding-top: 17px;
    padding-left: 15px;
    padding-right: 16px;
}

.last-comment {
    display: flex;
    padding: 0 10px;
    padding-top: 16px;
    position: relative;
    width: 100%;
    bottom: 0;
    padding-bottom: 20px;
}


.item2 {
    display: block;
}


.item1 {
    display: none;
}


.left3-description p {
    font-size: 12px;
    line-height: 25px;
    padding-top: 11px;
    text-align: justify;
}

.down-dnpopup-left1 ul li a {
    font-size: 14px;
    font-weight: 500;
    padding: 5px 6px;
}


.down-dnpopup-left1 {
    width: 108px;
    right: 19px;
    top: 62px;
    display: none;
}


.popup-part2 .btn-close {
    left: 7px;
}

.newpart h5 {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.newpart h5 a {
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding: 7.2px 18px;
    border-radius: 3.6px;
}

.tab-content {
    padding: 28px 0;
    padding-bottom: 1px;
}

.tab-item {
    padding: 7px 10px;
    font-size: 10px;
    text-align: center;
    color: #212121;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
    margin-right: 5px;
}


.popup_left1-right ul li a img {
    width: 5.22px;
    height: 20.46px;
    position: relative;
    top: 3px;
}

.main-right {
    width: 100%;
}

}

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/
@media screen and (max-width: 576px) {

.mobilesearch-part {
	display: block;
}

.header-left1 {
	width: 17%;
}

.header-left2 {
	width: 83%;
}

.header-left1 img {
    width: 27px;
    height: 27px;
    display: block;
}

.header-left2 h2 {
    font-size: 13px;
    font-weight: 700;
    margin: 0;
    padding-left: 4px;
}

.header-left2 p {
    font-size: 10px;
    font-weight: 500;
    margin: 0;
    padding-left: 5px;
}

.header-left2 p span {
    font-size: 10px;
    font-weight: 600;
}

.header-right ul li {
    float: left;
    margin-left: 7px;
}

.header-right ul li:nth-child(3) a {
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: block;
    text-align: center;
    border-radius: 4px;
}

.header-right ul li:nth-child(2) a {
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: block;
    text-align: center;
    border-radius: 4px;
}

.bar1, .bar2, .bar3 {
  width: 28px;
  height: 4px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
}

.mobile-header {
	display: block;
}

.menu-part ul li {
    display: block;
    padding-bottom: 11px;
}

.menu-part ul {
    padding-top: 0px;
}

.main-left {
    width: 236px;
    height: initial;
    padding: 20px;
    position: relative;
    padding-left: 15.91px;
    position: absolute;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 20%);
    top: 58px;
    left: 14px;
    display: none;
}

.profile-part {
    position: initial;
    bottom: 0;
    padding-top: 47px;
}

.header-part {
	display: none;
}

.mobilesearch-inner form input[type="text"] {
    font-size: 14px;
    width: 100%;
    height: 42px;
    border-radius: 4px;
    padding: 12px 12px;
    outline: none;
    padding-right: 32px;
}


.mobilesearch-inner form button {
    top: 7px;
}

.menu-part ul li a p {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: -21px;
    padding-left: 33px;
}

.boardview-part {
    padding: 14px 15px;
    background: #fff;
    padding-top: 20px;
}


.boardview-inner {
    margin-bottom: 25px;
}

.btn-container {
    padding: 36px 15px;
    padding-top: 0px;
    padding-bottom: 5px;
    overflow: hidden;
    overflow-x: scroll;
}

.btn-container ul {
    padding: 10px 10px;
}

.btn-container ul {
    padding: 10px 14px;
    width: 470px;
    padding-bottom: 10px;
}

.btn-container ul li a {
    font-size: 14px;
    font-weight: 500;
    display: block;
    text-align: center;
}

.btn-container ul li {
    display: inline-block;
    padding-right: 14px;
}

.mobilesearch-part {
    display: block;
    padding-bottom: 21px;
}

.btn-container ul li a::after {
	display: none;
}



.btn-container ul li a {
    font-size: 14px;
    font-weight: 500;
    display: block;
    text-align: center;
}

.btn-container ul li a.active::after {
	display: none;
}


.listview-part {
    margin-top: 49px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 35px;
}

.listview-view-item {
    display: block;
    height: initial;
    line-height: 63px;
    padding-right: 15px;
    padding-left: 16.38px;
    margin-bottom: 16px;
    border-radius: 4px;
}

.ttboardview-inner_down ul {
    float: left;
}

.listview-view-item2 ul li:nth-child(1) {
    font-size: 16px;
    font-weight: 600;
    padding-right: 0px;
    margin-bottom: -29px;
    display: block;
}

.ttboardview-inner_down ul {
    float: left;
    margin-bottom: -7px;
}



.mainpopup {
    display: block;
}

.mainpopup-left {
    width: 100%;
}


.mainpopup-right {
    width: 100%;
    position: relative;
}

.ttpopup-left2 {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    position: relative;
}

.popup_left1-inner h2 {
    font-size: 16px;
}

.popup_left1-right ul li:nth-child(1) a {
    font-size: 13px;
    width: 60px;
    display: block;
    text-align: center;
    line-height: 30px;
    height: 30px;
    border-radius: 3px;
}

.popup_left1-right {
    padding: 7px 0;
    padding-right: 15px;
}

.popup_left1-inner {
    padding: 10px 0;
    padding-left: 10px;
}


.popup1-part .btn-close {
    width: 16px;
    height: 16px;
    left: 7px;
}


.dnpopup-left1 h2 {
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    line-height: 50px;
    display: block;
    margin: 0;
    padding: 0 12px;
}

.dnpopup-left1 h2 a {
    font-size: 12px;
    font-weight: 700;
    width: 80px;
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    border-radius: 3.32px;
}

.dnpopup-left1 h2 a i {
    padding-left: 4px;
    font-size: 10px;
}


.dnpopup-left1 h2 span {
    float: right;
    position: relative;
    top: 10px;
}

.popup-left3-left h3 {
    text-align: center;
}

.popup-left3-left {
	text-align: center;
	padding-bottom: 8px;
}

.popup-left3-left select {
    margin-bottom: 15px;
    margin: auto;
}


.popup-left3-right a {
    font-size: 16px;
    width: 260px;
    height: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
    border-radius: 6px;
    margin: auto;
    margin-right: auto;
    margin-top: 18px;
}

.miancomment-text {
    padding-top: 17px;
    padding-left: 15px;
    padding-right: 16px;
}

.last-comment {
    display: flex;
    padding: 0 10px;
    padding-top: 16px;
    position: relative;
    width: 100%;
    bottom: 0;
    padding-bottom: 20px;
}


.item2 {
    display: block;
}


.item1 {
    display: none;
}


.left3-description p {
    font-size: 12px;
    line-height: 25px;
    padding-top: 11px;
    text-align: justify;
}

.down-dnpopup-left1 ul li a {
    font-size: 14px;
    font-weight: 500;
    padding: 5px 6px;
}


.down-dnpopup-left1 {
    width: 108px;
    right: 19px;
    top: 62px;
    display: none;
}


.popup-part2 .btn-close {
    left: 7px;
}

.newpart h5 {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.newpart h5 a {
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding: 7.2px 18px;
    border-radius: 3.6px;
}

.tab-content {
    padding: 28px 0;
    padding-bottom: 1px;
}

.tab-item {
    padding: 7px 10px;
    font-size: 10px;
    text-align: center;
    color: #212121;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
    margin-right: 5px;
}


.popup_left1-right ul li a img {
    width: 5.22px;
    height: 20.46px;
    position: relative;
    top: 3px;
}

.main-right {
    width: 100%;
}


}